/* override table width restrictions */
/* ref: https://patchwork.kernel.org/project/linux-media/patch/9abaf979abb2845b2292d96401986b4845c51b9d.1467743704.git.mchehab@s-opensource.com/
@media screen {
 
    /* content column
     *
     * RTD theme's default is 800px as max width for the content, but we have
     * tables with tons of columns, which need the full width of the view-port.
     */

    .wy-nav-content{max-width: none; }

    /* table:
     *
     *   - Sequences of whitespace should collapse into a single whitespace.
     *   - make the overflow auto (scrollbar if needed)
     *   - align caption "left" ("center" is unsuitable on vast tables)
     */

    .wy-table-responsive table td { white-space: normal !important; }
    .wy-table-responsive { overflow: auto !important; }
    .rst-content table.docutils caption { text-align: left; font-size: 100%; }

}
/* Force le wrap des titres de paths de modules et packages*/
h1{
    overflow-wrap: break-word;
}
